@import url('https://fonts.googleapis.com/css2?family=Acme&family=Poppins:wght@300;400;600;700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

:root{
	/* =====| Color |===== */
	--primary-color: #0077B6;
	--sec-color: #00B4D8;
	--tre-color: #90E0EF;
	--for-color: #CAF0F8;
	--fiv-color: #03045E;
}

body{
	overflow-x: hidden;
}

nav{
	position: fixed;
	display: flex;
	background-color: var(--primary-color);
	top: 0;
	width: 100%;
	height: 60px;
	justify-content: space-around;
	align-items: center;
}

nav .logo{
	display: flex;
	font-family: 'Acme', sans-serif;
	font-size: 2.5rem;
}

nav .logo a{
	color: var(--for-color);
	text-decoration: none;
}

nav .logo a:hover{
	color: white;
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

nav .menu{
	width: 23%;
}

nav .auth{
	display: none;
	width: 15%;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-around;}

nav div.mobile-menu{
	display: none;
}

nav .menu ul li a{
	color: var(--for-color);
	text-decoration: none;
	padding: 8px 8px;
	border-radius: 4px;
}

nav .auth ul li a{
	color: var(--for-color);
	background-color: var(--sec-color);
	text-decoration: none;
	padding: 8px 8px;
	border-radius: 4px;
	transition: 0.5s;
}

nav .menu ul li a:hover{
	color: white;
	background-color: var(--sec-color);
	transition: 0.5s;
}

nav .auth ul li a:hover{
	color: white;
	background-color: var(--sec-color);
	transition: 0.5s;
	box-shadow: 2px 2px 1px #000000;
}

.menu-toggle{
	display: none;
	flex-direction: column;
	height: 19px;
	justify-content: space-between;
	position: relative;
}

.menu-toggle span{
	display: block;
	width: 28px;
	height: 4px;
	background-color: black;
	border-radius: 3px;
	transition: 0.5s;
}

.menu-toggle input{
	position: absolute;
	width: 45px;
	height: 30px;
	left: -9px;
	top: -5px;
	opacity: 0;
	cursor: pointer;
	z-index: 2;
}

.menu-toggle span:nth-child(2){
	transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
	transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
	transform: rotate(45deg) translate(-2px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
	transform: rotate(-45deg) translate(-2px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
	opacity: 0;
	transform: scale(0);
}

/* Header */

header{
	background-color: var(--sec-color);
	height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

header h2{
	display: flex;
	color: white;
	text-align: center;
	font-family: 'Acme', sans-serif;
	font-size: 5rem;
	margin-bottom: 1rem;
}

header p{
	display: flex;
	color: white;
	font-size: 2.3rem;
	text-align: center;
	margin-left: 13rem;
	margin-right: 13rem;
}

/* Container */
.container {
	margin: 2rem;
}

/* Produk */
.produk {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.produk-title{
	display: flex;
}

.produk-title h3{
	font-family: 'Acme', sans-serif;
	font-size: 2.5rem;
}

.produk-list{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
	box-sizing: border-box;
}

.produk .produk-list .produk-card{
	display: flex;
	width: 300px;
	height: 100px;
	align-items: center;
	background-color: var(--primary-color);
	border-radius: 5px;
	margin: 1rem;
	margin-bottom: 2rem;
	padding: 15px;
}

.produk-card img{
	display: flex;
	width: 105px;
	height: auto;
	border-radius: 5%;
	margin-left: -1rem;
	margin-right: 1rem;
}

.produk-card .produk-text h4{
	font-family: 'Acme', sans-serif;
	font-size: 1.4rem;
	padding-bottom: 5px;
}

.produk-card .produk-text h5{
	color: var(--for-color);
	font-size: 1.1rem;
}

/* Contact */
.contact-page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--sec-color);
	padding-top: 2rem;
	height: 100vh;
}

.contact-page .contact-text{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contact-page .contact-text h3{
	font-family: 'Acme', sans-serif;
	font-size: 2.5rem;
	padding-bottom: 0.5rem;
}

.contact-page .contact-text p{
	display: flex;
	font-size: 1.1rem;
	margin-bottom: 1rem;
	padding-left: 10px;
	padding-right: 10px;
}

.sosmed-tab{
	display: flex;
	justify-content: center;
}

.sosmed-tab .sosmed-item{
	display: flex;
	align-items: center;
	color: var(--for-color);
	background-color: var(--primary-color);
	text-decoration: none;
	margin: 10px;
	padding: 8px 8px;
	border-radius: 4px;
	transition: 0.5s;
}

.sosmed-tab .sosmed-item:hover{
	color: black;
	background-color: var(--tre-color);
	transition: 0.5s;
	box-shadow: 2px 2px 1px #000000;
}

.footer .footer-main .footer-p .ct-email .email-sec .icon,
.sosmed-tab .sosmed-item .icon{
	font-size: 20px;
	padding-right: 5px;
}

.sosmed-tab .sosmed-item span{
	display: flex;
	align-items: center;
}

/* Maps */
.maps-page{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 2rem;
	height: 100vh;
}

.maps-page h3{
	font-family: 'Acme', sans-serif;
	font-size: 2.5rem;
	padding-bottom: 0.5rem;
}

.maps-page .maps-frame{
	padding: 1rem;
	padding-bottom: 0.8rem;
	background-color: var(--primary-color);
	border-radius: 10px;
}

.maps-page .maps-frame iframe{
	width: 1000px;
	height: 450px;
	border: 0;
	border-radius: 10px;
}

/* footer */
.footer{
	display: flex;
	flex-direction: column;
	background-color: var(--primary-color);
	padding-top: 1rem;
	width: 100%;
	height: 100%;
}

.footer .footer-main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px 1rem 50px;
}

.footer .footer-main a.logo{
	display: flex;
	font-family: 'Acme', sans-serif;
	font-size: 2.5rem;
	color: var(--for-color);
	text-decoration: none;
}

.footer .footer-main a.logo:hover{
	color: white;
	transform: scale(1.1, 1.1);
	transition: 0.5s;
}

.footer .footer-main .footer-p{
	display: flex;
	flex-direction: column;
	width: 40%;
	text-align: center;
}

.footer .footer-main .footer-p h3{
	font-size: 1rem;
}

.footer .footer-main .footer-p .ct-text{
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}

.footer .footer-main .footer-p .ct-text .ct-email{
	display: flex;
	flex-direction: column;
	align-items: start;
}

.footer .footer-main .footer-p .ct-text .ct-email .email-sec{
	display: flex;
	align-items: center;
}

.footer .footer-text{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--sec-color);
	padding: 15px;
}

.footer .footer-text a{
	color: white;
	letter-spacing: 0.1rem;
	text-decoration: none;
}

.footer .footer-text a:hover{
	color: black;
	transition: 0.25s;
}

/* Responsive */
@media screen and (max-width: 768px) {
	nav .menu{
		width: 40%;
	}

	nav .auth{
		width: 25%;
	}

	header p{
		margin-left: 1rem;
		margin-right: 1rem;
	}

	.maps-page .maps-frame{
		width: 100%;
	}

	.maps-page .maps-frame iframe{
		border-radius: 0;
		width: 100%;
	}

	.footer .footer-main .footer-p{
		width: 50%;
	}

	.footer .footer-main .footer-p .ct-text{
		justify-content: center;
		flex-direction: column;

	}
	.footer .footer-main .footer-p .ct-text .ct-email{
		align-items: center;
	}

}

@media screen and (max-width: 576px) {
	nav{
		width: none;
	}

	nav .logo{
		justify-content: space-around;
		width: 80%;
	}

	nav .menu ul,
	nav .auth ul{
		display: none;
	}

	div.menu-toggle{
		width: 15%;
		display: flex;
	}

	nav div.mobile-menu{
		display: block;
	}

	nav div.mobile-menu ul{
		display: block;
		position: fixed;
		background-color: var(--primary-color);
		top: 59px;
		right: 0;
		height: auto;
		width: 100%;
		text-align: center;
		transition: 0.5s;
		opacity: 0;
		/* z-index: 1; */
		transform: translateY(-50vh);
	}

	nav div.mobile-menu ul li{
		margin: 10px;
	}

	nav div.mobile-menu ul a{
		text-decoration: none;
		font-weight: bold;
	}

	nav div.mobile-menu ul a li{
		color: white;
		background-color: var(--sec-color);
		border-radius: 5px;
		padding: 5px 0 5px 0;
		box-shadow: 2px 2px 1px var(--fiv-color);
	}

	nav div.mobile-menu .slide{
		opacity: 1;
		transform: translateY(0);
	}

	header h2{
		font-size: 3.7rem;
	}
	header p{
		font-size: 1.3rem;
	}

	.contact-page .contact-text p{
		text-align: center;
	}

	.maps-page .maps-frame{
		width: 100%;
		height: 50%;
		padding: 0;
	}

	.maps-page .maps-frame iframe{
		height: 100%;
	}

	.footer .footer-main{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		padding: 0;
	}

	.footer .footer-main a.logo{
		margin-bottom: 1rem;
	}

	.footer .footer-main .footer-p{
		width: 100%;
		margin-bottom: 1rem;
	}

	.footer .footer-main .footer-p h3{
		margin-bottom: 1rem;
	}

	.footer .footer-text{
		text-align: center;
		font-size: 1rem;
	}
} 